{{> listeVip}}

<div class="article">
    <fieldset>
    <legend>Article</legend>
        {{#each vipArticle}}
            <p class="vipNom">{{this.VIP_PRENOM}} {{this.VIP_NOM}}</p>
            {{#ifCond this.ARTICLE_RESUME '!=' null}}
            <p>{{this.ARTICLE_RESUME}}</p>
            <p class="bandeau">[Ajouté le {{formatDate this.ARTICLE_DATE_INSERT 'D MMMM YYYY'}}]
            <a href="/repertoire/vip/{{this.VIP_NUMERO}}">voir sa fiche</a></p>
            {{else}}
                <p>Aucun article disponible</p>
                <p class="bandeau"><a href="/repertoire/vip/{{this.VIP_NUMERO}}">voir sa fiche</a></p>
            {{/ifCond}}
        {{/each}}
        
    </fieldset>
</div>

